
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width:1250px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
  }
}
ul {
  list-style: none;
  padding-left: 15px;
  .repo-item {
    padding: 0px;
    div {
      padding: 0px;
      h3, span {
        padding: 0px;
      }
    }
  }
}

.contain {
  min-width: 1250px;
}
//header
.header {
  // background-color: grey;
  padding: 10px 0;

  .search-bar {
    width: 350px;
    display: inline-block;
  }
}

.profile-sm {
  width: 30px;
}

//aside

.profile-lg {
  img {
    width: 100%;
    border-radius: 6px;
  }
}
.name {
  margin-top: 16px;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}
.username {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
.bio {
  font-size: 14px;
  color: #767676;
  margin-bottom: 12px;
}
.info {
  border-top: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  padding: 16px 0;
  p {
    margin-bottom: 5px;
  }
  .created-at {
    margin-bottom: 0px;
  }
}
.org-container {
  margin-top: 17px;
  .organization {
    font-weight: 600;
    font-size: 16px;
  }
  .logo-container {
    height: 35px;
    margin-bottom: 3px;
  }
  .org-logo {
    width: 35px;
    height: 35px;
    border-radius: 3px;
  }
}


//repo container
#repo-header {
  li {
    display: inline-block;
    padding: 20px;
  }
}
.bottom-header {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 15px 0;
  .new {
    margin-left: 24px;
  }
  .buttons {
    display: inline-block;
  }

  .search-repos {
    width: 350px;
    display: inline-block;
    margin-right: 15%;
  }
  // @media (max-width:991px) {
  //   .search-repos {
  //     width: 150px;
  //   }
  // }
}
#repo-list {
  .repo-item{
    // height: 90px;
    border-bottom: 1px solid rgb(238, 238, 238);
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .language, .stargazers {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}


//footer
.site-footer-container {
  width: 950px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.left-footer, .footer-icon, .right-footer {
  display: inline-block;
}
.footer-icon {
  margin: 0 11%;
}
