
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

//header
.profile-sm {
  width: 30px;
}


//aside




//repo container
#repo-header {
  li {
    display: inline-block;
  }
}



//footer
.left-footer, .footer-icon, .right-footer {
  display: inline-block;
}
