
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width:1250px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
  }
}
ul {
  list-style: none;
  padding-left: 15px;
  .repo-item {
    padding: 0px;
    div {
      padding: 0px;
      h3, span {
        padding: 0px;
      }
    }
  }
}

.contain {
  min-width: 1250px;
}
//header
.header {
  // background-color: grey;
  padding: 10px 0;

  .search-bar {
    width: 350px;
    display: inline-block;
    margin-right: 15px;
  }
  .pull, .issues, .gist {
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
  }
  .pull:hover, .issues:hover, .gist:hover {
    color: #4078c0;
    text-decoration: none;
    cursor: pointer;
  }
}
.right-header {
  margin-top: 5px;
}
.profile-small {
  display: inline-block;
  margin-left: 15px;
}
.profile-small:hover, .right:hover {
  color: #4078c0;
  cursor: pointer;
}
.profile-sm {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

//aside

.profile-lg {
  img {
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
  }
}
.name {
  margin-top: 16px;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}
.username {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
.bio {
  font-size: 14px;
  color: #767676;
  margin-bottom: 12px;
}
.info {
  border-top: 1px #e5e5e5 solid;
  border-bottom: 1px #e5e5e5 solid;
  padding: 16px 0;
  p {
    margin-bottom: 5px;
  }
  .created-at {
    margin-bottom: 0px;
  }
}
.org-container {
  margin-top: 17px;
  .organization {
    font-weight: 600;
    font-size: 16px;
  }
  .logo-container {
    height: 35px;
    margin-bottom: 3px;
  }
  .org-logo {
    width: 35px;
    height: 35px;
    border-radius: 3px;
  }
}


//repo container
#repo-header {
  margin-bottom: 0px;
  li {
    display: inline-block;
    padding: 20px;
    // display: table-cell;
    // padding-right: 20px;
    // padding-left: 20px;
    font-size: 14px;
    color: #767676;
    vertical-align: middle;
    cursor: pointer;
  }
  li:hover {
    color: #333;
    text-decoration: none;
  }
  .repositories {
    color: #333;
    border-bottom: 1px #c9510c solid;
  }
  .repository-num, .star-num, .followers-num, .following-num {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #666;
    background-color: #eee;
    border-radius: 20px;
  }
}
.bottom-header {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 15px 0;
  .new {
    margin-left: 24px;
  }
  .buttons {
    display: inline-block;
    height: 35px;

    .lighter {
      font-style: normal;
      font-weight: 500;
      opacity: 0.6;
    }
    button {
      height: 34px;
    }
    .select-menu-button {
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      background-color: #eee;
      border: 1px solid #d5d5d5;
      border-radius: 3px;
      background-image: linear-gradient(#fcfcfc, #eee);
    }
    .select-menu-button:hover {
      text-decoration: none;
      background-color: #ddd;
      background-image: linear-gradient(#eee, #ddd);
      border-color: #ccc;
    }
    .new {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
      background-color: #6cc644;
      background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
      background-image: linear-gradient(#91dd70, #55ae2e);
      border: 1px solid #5aad35;
    }
  }

  .search-repos {
    width: 450px;
    display: inline-block;
    margin-right: 3%;
  }
  // @media (max-width:991px) {
  //   .search-repos {
  //     width: 150px;
  //   }
  // }
}
#repo-list {
  .repo-item{
    // height: 90px;
    border-bottom: 1px solid rgb(238, 238, 238);
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  .language, .stargazers {
    margin-top: 24px;
    margin-bottom: 10px;
  }
  .description, .language {
    color: #767676;
  }
  .stargazers:hover {
    cursor: pointer;
    color: #337ab7;
  }
}


//footer
.site-footer-container {
  width: 1070px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  a {
    margin-left: 10px;
    color: #4078c0;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
    font-size: 12px;
    line-height: 1.5;
  }
}
.left-footer, .footer-icon, .right-footer {
  display: inline-block;
}
.footer-icon {
  margin: 0 16.6%;
}
